.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Home {
  background-color: chocolate;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 5%;
  margin-right: 5%;
}

.Home-logo-image {
  width: 15%;
  height: 15%;
}

.Home-intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home-intro-text {
  display: 'flex';
  flex-direction: 'column';
  flex: 1;
  padding: 3%;
}

.Home-intro-text-title {
  display: 'flex';
  font-size:xx-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Home-intro-text-content {
  display: 'flex';
  font-size:medium;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.Home-intro-image {
  display: 'flex';
  flex: 1;
  justify-content: center;
  align-items: center;
}

.Home-image-spaceman {
  display: flex;
  justify-content: center;
  align-items: center;
}

.A {
  display: flex;
  background-color: blue;
  flex-direction: row;
  height: 500px;
}

.B {
  display: flex;
  background-color: red;
  height: 200px;
  flex: 1
}

.C {
  display: flex;
  background-color: greenyellow;
  height: 150px;
  flex: 1
}